/* This stlye sheet is shared by the menu and locationhours pages*/
@font-face{
    /* calls the font from the folder */
    font-family: 'slab';
    src: url(Font/KlinicSlabBook.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'slabHead';
    src: url(Font/KlinicSlabBookIt.otf);
    font-style: italic;
    font-weight: bold;
}
/*background color and font for both pages is set */
html{
    background-color: rgb(207, 28, 68);
    font-family: 'slab';
}
/* changes just the nav bars unoreded listed elements*/
.nav{
    padding: 9%;
    text-align: center;
    display:inline;
}
/* for listed items within the menu page*/
.food{
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* changes font for just the nav bar buttons and adds font*/
.button{
    border: 2px solid rgb(95,19,18);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: 'slabHead';
    font-size: large;
}
/* for location list in locationhours page*/
.loc{
    text-align: left;
    padding-left: 70%;
}
/*nav menu  for both pages*/
.Upper_Menu{
    border: 5px solid rgb(95,19,18);
    background-color: rgb(216, 198, 184);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*logo  for both pages*/
.logo{
    display: block;
    height: 100px;
    float: left;
    margin-left: 40%;
    border: 5px solid rgb(95,19,18);
    background-color: rgb(216, 198, 184);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*for location and hours block within the locationhours page*/
.imglocation{
    margin-top: 2%;
    margin-left: 20%;
    display: inline-block;
    text-align: center;
    border: 5px solid rgb(95,19,18);
    font-size: large;
    background-color: rgb(216, 198, 184);
    margin-right: 12.5%;
    width: 65%;
}
/*for listed elements within the imglocation block*/
.Our_Locations{
    padding-top: 5%;
}
/*block menu for the menu page*/
.menuBox{
    margin-top: 2%;
    margin-left: 20%;
    display: inline-block;
    text-align: center;
    border: 5px solid rgb(95,19,18);
    font-size: large;
    background-color: rgb(216, 198, 184);
    margin-right: 12.5%;
}
/* additional padding for menu box*/
.menu{
    padding-top: 5%;
    padding-bottom: 5%;
}
/*Map image*/
.map{
    height: 64%;
    width: 64%;
    display: block;
    float: left;
    border: 5px solid rgb(95,19,18);
    
}