@font-face{
    /* calls the font from the folder */
    font-family: 'slab';
    src: url(Font/KlinicSlabBook.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'slabHead';
    src: url(Font/KlinicSlabBookIt.otf);
    font-style: italic;
    font-weight: bold;
}
html{
    background-color: rgb(207, 28, 68);
    font-family: 'slab';
}
li{
    padding: 10%;
    text-align: center;
    display:inline;
    
}

.Upper_Menu{
    border: 5px solid rgb(95,19,18);
    background-color: rgb(216, 198, 184);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo{
    display: block;
    height: 100px;
    float: left;
    margin-left: 40%;
    border: 5px solid rgb(95,19,18);
    background-color: rgb(216, 198, 184);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}