@font-face{
    /* calls the font from the folder */
    font-family: 'slab';
    src: url(Font/KlinicSlabBook.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'slabHead';
    src: url(Font/KlinicSlabBookIt.otf);
    font-style: italic;
    font-weight: bold;
}
html{
    background-color: rgb(216, 198, 184);
    font-family: 'slab';
}
.imgabout{
    margin-top: 5%;
    margin-left: 15%;
    display: inline-block;
    text-align: center;
}
.about{
    padding-left: 2%;
}
.imgmission{
    margin-top: 5%;
    display: inline-block;
    text-align: center;
}
.imgvision{
    display: inline-block;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
}
.vision{
    padding-top: 5%;
    width: 80%;
}

.mission{
    padding-top: 5%;
    margin-left: 21%;
    text-align: center;
    padding-bottom: 6%;
}

.title{
    font-family: 'slabHead';
    font-size: 300%;
    text-align: center;

}
li{
    padding: 10%;
    text-align: center;
    display:inline;
}

.logo{
    display: block;
    height: 100px;
    float: left;
}
.img1{
    height: 40%;
    width: 40%;
    float: left;
    display: block;
    border: 5px solid rgb(95,19,18);
    margin-left: 10%;
    
}

.img2{
    height: 25%;
    width: 25%;
    float: right;
    display: block;
    border: 5px solid rgb(95,19,18);
    margin-right: 20%;
    
}
.img3{
    height: 35%;
    width: 35%;
    display: block;
    float: left;
    border: 5px solid rgb(95,19,18);
    
}
.Upper_Menu{
    display: inline-flex;
    float: right;
    height: 200px;
    width: 1500px;
    margin-top: -110px;
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
